@tailwind base;
@tailwind components;
@tailwind utilities;

#grow::before {
  content: "";
  background-image: url("../images/bg-section-top-desktop-1.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 30%;
}
#grow::after {
  content: "";
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 100%;
}
@media (max-width: 500px) {
  #grow::before {
    background-image: url("../images/bg-section-top-mobile-1.svg");
    bottom: 20%;
  }
}
@media (min-width: 510px) and (max-width: 1100px) {
  #grow::before {
    background-image: url("../images/bg-section-top-mobile-1.svg");
    bottom: 240px;
  }
}
/* #grow::before {
  background: url("../images/bg-section-top-desktop-1.svg");
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
} */
/* #grow::after {
  background: url("../images/bg-section-top-desktop-2.svg") center bottom
    no-repeat;
  top: 100%;
  content: "";
  height: 103px;
  position: absolute;
  width: 100%;
} */
